.About {
    position: relative;
    top: -87vh;
    padding: 2rem;
    max-width: 100%;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.About-Top {
    height: 50vh;
}

.About h1 {
    font-size: 8vw;
    margin-top: 20rem;
    margin-bottom: 1rem;
    color: #344b8e;
    font-family: 'Anton', sans-serif;
}

.About-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.About-table th, .About-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

.About-table th {
    background-color: #ffa51f;
    color: white;
    font-family: 'Public Sans', sans-serif;
}

.About-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.About-table tr:hover {
    background-color: #ddd;
}

@media (max-width: 768px) {
    .About {
        padding: 1rem;
        max-width: 100%;
        margin: 0;
    }

    .About h1 {
        font-size: 1.5rem;
    }

    .About-table th,
    .About-table td {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}
