.About {
    position: relative;
    top: -12vh;
    padding: 2rem;
    max-width: 100%;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.About-Top {
    height: 50vh;
}

.About h1 {
    font-size: 6vw;
    margin-top: 16rem;
    margin-bottom: 1rem;
    color: #344b8e;
    font-family: 'Anton', sans-serif;
}

.About-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.About-table th, .About-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

.About-table th {
    background-color: #ffa51f;
    color: white;
    font-family: 'Public Sans', sans-serif;
}

.About-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.About-table tr:hover {
    background-color: #ddd;
}

.About-link{
    color: #007bff;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    border-bottom: 2px solid #007bff;
    transition: color 0.3s, border-color 0.3s;
}

.About-link:hover {
    color: #0056b3;
    border-color: #0056b3;
}

.About-table:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow .5s ease;
}

@media (max-width: 768px) {
    .About {
        max-width: 100%;
        margin-top: 12vw;
        margin-left: -4vw;
    }

    .About h1 {
        font-size: 15vw;
    }

    .TitleWrapper h1{
        font-size: 12vw;
        margin-top: -74vh;
    }

    .About-table th,
    .About-table td {
        width: 10%;
        font-size: 0.7rem;
    }
}
