.Announcements {
    padding: 2rem;
    max-width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    top: -115vh;
}

.Announcements h1 {
    margin-top: 16rem;
    font-size: 6vw;
    color: #344b8e;
    margin-bottom: 1rem;
    font-family: 'Anton', sans-serif;
}

.Announcements-list {
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* New grid layout */
    gap: 20px; /* Space between items */
    margin-left: 0vh;
}

.Announcement-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    color: #333;
}

.Announcement-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.15);
}

.Announcement-item h2 {
    font-size: 1.5rem;
    color: #000000;
    margin: 0 0 0.5rem;
}

.Announcement-item p {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 3vh;
}

.App-nav-bottom {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: #344b8e;
    color: white;
    z-index: 10;
}

@media (max-width: 768px) {
    .Announcements {
        padding: 1rem;
        max-width: 100%;
    }

    .Announcements h1 {
        font-size: 2.5rem;
    }

    .Announcement-item {
        padding: 0.75rem;
    }

    .Announcement-item h2 {
        font-size: 1.25rem;
    }
}
