.announcements-page {
    font-family: Arial, sans-serif;
    padding: 3rem 2rem;
    background-color: #fafafa;
    color: #2c3e50;
    text-align: center;
}

.announcements-header {
    margin-bottom: 3rem;
}

.announcements-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #344b8e;
}

.announcements-header p {
    font-size: 1.2rem;
    color: #34495e;
    margin-top: 1rem;
}

.announcement-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-items: center;
}

.announcement-card {
    background-color: #ffffff;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.announcement-card:hover {
    transform: translateY(-5px);
}

.announcement-card h2 {
    font-size: 1.8rem;
    color: black;
    margin-bottom: 1rem;
}

.announcement-date {
    font-size: 1.1rem;
    color: #7f8c8d;
    margin-bottom: 1rem;
}

.announcement-card p {
    font-size: 1.1rem;
    color: #7f8c8d;
    margin-bottom: 1rem;
}

.announcement-link {
    font-size: 1.1rem;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.announcement-link:hover {
    text-decoration: underline;
}
