@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

.App {
  text-align: center;
  width: 1500px;
  height: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.App-header {
  position: relative;
  top: -4px;
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header-top {
  position: relative;
  top: -600px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #344b8e;
  color: white;
  border-bottom: 1px solid #344b8e;
}

.App-nav-top {
  position: relative;
  top: -50px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #344b8e;
  color: white;
  z-index: 10;
}
.App-nav-bottom {
  position: relative;
  top: 6px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #344b8e;
  color: white;
}


.App-title {
  font-size: 3.5rem;
  margin: 0;
  padding-left: 1rem;
  color: #ffa51f;
  text-shadow: 2px 2px 4px #344b8e;
  font-family: 'Anton', sans-serif;
}

.App-nav {
  display: flex;
  margin-top: -550px;
  margin-left: 2px;
  justify-content: flex-start;

}

.App-link {
  display: inline-block;
  padding: 1rem 7rem;
  font-size: 1.4rem;
  color: white;
  background-color: #ffa51f;
  border: none;
  border-radius: 1px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: 'Public Sans', sans-serif;
}

.App-link:hover {
  background-color: #ffd89e;
  color: #282c34;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.App-instagram {
  background-color: #ffa51f;
  border-radius: 30px;
  z-index: 1;
  position: relative;
  bottom: -200px;
  left: -450px;
  font-family: 'Public Sans', sans-serif;
  font-size: 2rem;
}

.App-email {
  background-color: #ffa51f;
  border-radius: 30px;
  color: white;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  text-align: center;
  font-family: 'Public Sans', sans-serif;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  position: relative;
  bottom: -200px;
  left: -430px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.App-email:hover {
  background-color: #ffd89e;
  color: #282c34;
}

footer.App-footer {
  background-color: #344b8e;
  color: white;
  text-align: center;
  padding: 102rem;
  position: relative;
  width: 100%;
  bottom: 0;
}