@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.App {
  text-align: center;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 20px;
  position: relative;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
}

.App-header-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #344b8e;
  color: white;
  border-bottom: 1px solid #344b8e;
  padding: 1rem;
  box-sizing: border-box;
}

.App-nav-top {
  width: 50%;
  display: flex;
  justify-content: center;
  color: white;
  z-index: 10;
  padding: 0.5rem;
  box-sizing: border-box;
  position: relative;
}

.App-title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 0;
  padding-left: .5rem;
  align-items: center;
  color: #ffa51f;
  text-shadow: 2px 2px 4px #344b8e;
  font-family: 'Anton', sans-serif;
}

.App-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: -01.7%;
  width: 1010%;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.App-link {
  display: inline-block;
  padding: 0.75rem 2rem;
  width: 3.13%;
  font-size: 1rem;
  position: relative;
  color: white;
  background-color: #ffa51f;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: 'Public Sans', sans-serif;
}

.App-link:hover {
  background-color: #ffd89e;
  color: #282c34;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.App-instagram, .App-email {
  background-color: #ffa51f;
  border-radius: 30px;
  color: white;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  text-align: center;
  font-family: 'Public Sans', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

.App-instagram {
  left: -41vw;
  bottom: 7vh;
  z-index: 3;
  width: 9vh;
}

.App-email {
  left: -37vw;
  bottom: 7vh;
  z-index: 3;
}

.App-email:hover, .App-instagram:hover {
  background-color: #ffd89e;
  color: #282c34;
}

footer.App-footer {
  background-color: #344b8e;
  color: white;
  text-align: center;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: -13.5vh;
  position: relative;
}

@media (max-width: 768px) {
  .App-title {
    font-size: 2rem;
  }

  .App-link {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }

  .App-instagram, .App-email {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
  }

  .App-nav {
    flex-direction: column;
  }
}
