.Contact {
    padding: 2rem;
    max-width: 90%;
    box-sizing: border-box;
    position: relative;
    top: -87vh;
    margin-top: 16rem;
}

.Contact-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    right: -50vh;
}

.Contact-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Contact-header {
    text-align: center;
    margin-bottom: 2rem;
}

.Contact-header h1 {
    font-size: 8vw;
    color: #344b8e;
    margin-bottom: 1rem;
    font-family: 'Anton', sans-serif;
}

