.Home {
    position: relative;
    top: -3vw;
    right: -5vw;
    max-width: 90%;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.Home-message:hover {
    transform: translateY(-5px);
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Home-heading {
    font-size: 2rem;
    color: #344b8e;
    font-family: 'Anton', serif;
    text-align: center;
    margin: 0;
}

.TitleWrapper h1 {
    position: relative;
    top: 0;
    margin-top: -80vh;
    max-width: 100%;
    justify-content: center;
    font-size: 6vw;
    color: #344b8e;
    font-family: 'Anton', sans-serif;
}

.Home-message {
    padding: 20px;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: 300;
    max-width: 100%;
    margin-left: 2vh;
    margin-top: 0vh;
    z-index: 1;
}

@media (max-width: 768px) {
    .Home{
        top: -5vw;
    }
}


