.Journal {
    position: relative;
    top: -115vh;
    right: -5vh;
    padding: 2rem;
    max-width: 90%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.JournalTitleWrapper h1 {
    position: relative;
    top: -111vh;
    max-width: 100%;
    color: #344b8e;
    margin-bottom: 4rem;
    font-family: 'Anton', sans-serif;
    font-size: 6vw;
    margin-top: 16rem;
}

.Journal-message {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    font-size: 2.2rem;
    font-weight: 300;
    color: #333;
    max-width: 80%;
    margin-left: 17vh;
    margin-top: -117vh;
    z-index: 21;
}

.Journal-message:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 768px) {
    .Journal{
        top: -225vw;
        right: -3vw;
    }
    .JournalTitleWrapper h1 {
        top: -223.5vw;
        font-size: 12vw;
    }
    .Journal-message {
        margin-top: -123vh;
        z-index: 31;
        font-size: 1.2rem;
        margin-left: 2vh;
        font-weight: 700;
    }
}
