.Journal {
    position: relative;
    top: -115vh;
    right: -5vh;
    padding: 2rem;
    max-width: 90%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.TitleWrapper h1 {
    position: relative;
    top: -111vh;
    max-width: 65%;
    color: #344b8e;
    margin-bottom: 1rem;
    font-family: 'Anton', sans-serif;
    font-size: 8vw;
    margin-top: 16rem;
}

.Journal-message {
    font-size: 2rem;
    color: #344b8e;
    font-family: 'Times New Roman', serif;
    text-align: center;
    margin: 1rem 0;
    font-style: italic;
}

@media (max-width: 768px) {
    .Journal{
        top: -148vw;
        max-width: 80%;
        right: -3vw;
    }
    .TitleWrapper h1 {
        top: -150vw;
    }
}